main{
    
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

        main h1{
            
            margin: 0 auto;
            padding-left: 350px;
            color: white;
        }

body py-script {
    margin: 100px;
    padding-left: 100px;
}